@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');
html, body {
  margin: 0;
}
body{
  background-color: #333;
  padding-bottom: 100px;
  font-family: 'Roboto Mono', monospace;
}
.app{
  width: 100%;
}
.app > form{
  position: fixed;
  bottom: 0;  
  display: flex;
  width: 100%;
}
.app > form > input {
  padding: 10px;
  flex: 1;
  border: 0;
  background-color: #666;
  color: #eee;
  font-family: 'Roboto Mono', monospace;
  outline: none;
}
::placeholder{
  color: #eee;
}
.app > form > button {
  padding: 10px;
  border: 0;
  background-color: rgb(161, 238, 238);
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  transition: all 10ms;

}
.app > form > button:hover {
  background-color: rgb(190, 240, 240);
}

.chatMessage{
  padding-top: 2px;
}

.header{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color:black;
  background-color: #eee; 
  position: sticky;
}